<div ng-include="'components/navbar/navbar.html'"></div>

<div id="admin">
  <div class="container">
    <p ng-show="isAuthorized">Sorry! This page is only for users with the 'admin' role.</p>
    <js-tabs>
      <js-tab title="Users">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="user in users">
              <strong>{{user.name}}</strong><br>
              <span class="text-muted">{{user.email}}</span>
              <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
      </js-tab>
      <js-tab title="Messages">messages</js-tab>
    </js-tabs>
  </div>
</div>