<div ng-include="'components/navbar/navbar.html'"></div>

<div id="admin">
  <div class="container">
    <p ng-show="isAuthorized">Sorry! This page is only for users with the 'admin' role.</p>
    <js-tabs>
      <js-tab title="Users">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="user in users">
            <strong>{{user.name}}</strong><br>
            <span class="text-muted">{{user.email}}</span>
            <a ng-click="deleteUser(user)" title="Delete" class="action-icon"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
      </js-tab>
      <js-tab title="Messages" additional-content="unreadCount">
        <div ng-show="messages.length === 0">There are no messages.</div>
        <ul class="list-group">
          <li class="list-group-item message-item" ng-repeat="message in messages" ng-click="openMessage(message)" ng-class="{ read: message.isRead }">
            <strong>{{message.name}}</strong> - 
            <span class="text-muted">{{message.email}}</span><br/>
            <span class="text-muted">{{message.message}}</span>
            <a ng-click="deleteMessage(message)" stop-event title="Delete" class="action-icon"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            <a ng-click="markRead(message)" stop-event title="Mark As Read" class="action-icon" ng-hide="message.isRead">
              <span class="glyphicon glyphicon-eye-open pull-right"></span>
            </a>
            <a ng-click="markUnread(message)" stop-event title="Mark As Read" class="action-icon" ng-show="message.isRead">
              <span class="glyphicon glyphicon-eye-close pull-right"></span>
            </a>
          </li>
        </ul>
      </js-tab>
    </js-tabs>
  </div>
  
  <script type="text/ng-template" id="messageModal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="messageModalLabel">Message from {{currentMessage.name}} ({{currentMessage.email}})</h4>
    </div>
    <div class="modal-body">
      {{currentMessage.message}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="markUnread(currentMessage)">Mark Unread</button>
      <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
    </div>
  </script>
</div>