$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

/* Custom variables and styles */
$font-family-standard: 'Open Sans Condensed', sans-serif;
$font-family-fancy: 'Lobster', cursive;
$font-family-navigation: 'Lato', sans-serif;

$color-blue: #4393B9;

html {
	overflow-y: scroll;
}

body {
	font-family: $font-family-standard;
	font-size: 20px;
	
	.navbar {
		font-family: $font-family-navigation;
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-standard;
	
	&.fancy {
		font-family: $font-family-fancy;
	}
}

::selection {
	color: #FFF;
	background-color: $color-blue;
}

::-moz-selection {
	color: #FFF;
	background-color: $color-blue;
}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'contact/contact.scss';
@import 'main/main.scss';
@import 'work/work.scss';
// endinjector